body{
background:#121212;
color:#fff;
font-family:Arial;
padding:20px;
}

h1,h2{color:#c49a6c;}

input{
padding:10px;
margin:5px;
background:#000;
color:white;
border:1px solid #c49a6c;
}

button{
padding:10px;
background:#5a3825;
color:white;
border:none;
cursor:pointer;
}

.container{
background:#1f1f1f;
padding:20px;
margin-top:15px;
}
